.carousel {
    width: 200%;
  }

  .carousel-item img {
    width:  50%;
    height: 50%; /* Maintain aspect ratio */
  }
  .background-container {
  background-image: url('client\images\Ale-Yea-Background.png');
   background-size: 'cover';
   background-repeat:'no-repeat';
   background-position: 'left';
} 
 
 